{% extends "base.html" %}
{% load static %}

{% block title %}Dormitory{% endblock title %}
{% block header_title %}Dormitory{% endblock header_title%}

{% block content %}
<!-- Service Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Facilities</h6>
            <h1 class="mb-5">QSHS Dormitory Facilities</h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <img src="{% static 'img/21_ room 2A cabinet.JPG' %}" class="img-fluid" alt="Image 1">
                </div>
                <div class="col">
                    <img src="{% static 'img/16_ room 2A shower cubicle.JPG' %}" class="img-fluid" alt="Image 2">
                </div>
                <div class="col">
                    <img src="{% static 'img/29_ room 3B cubicles.JPG' %}" class="img-fluid" alt="Image 3">
                </div>
                <div class="col">
                    <img src="{% static 'img/33_ room 3A faucets.JPG' %}" class="img-fluid" alt="Image 4">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->
{% endblock content %}